@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

header {
  height: 20%;
  width: 100%; }

.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-in-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.Head {
  width: 100%;
  height: 3rem;
  background-color: #2c7b9b; }
  .Head p {
    font-size: 1em; }

#Navbar {
  width: 100%;
  height: 6rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #272727a2;
  padding: 0 5em; }
  #Navbar a {
    color: #000000;
    text-decoration: none; }
    #Navbar a #NavLogo {
      height: 3.125rem;
      width: 13.75rem; }
  #Navbar .MenuIcon {
    display: none; }
  #Navbar .MenuOptions {
    width: 50%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    font-family: "Montserrat", sans-serif; }
    #Navbar .MenuOptions li a {
      color: #000000;
      font-weight: normal; }
      #Navbar .MenuOptions li a:hover {
        color: #2c7b9b;
        font-weight: bold;
        transition: 0.3s; }
  #Navbar #menu {
    display: none; }
  #Navbar .MenuOptionsResp {
    display: none; }
  #Navbar label {
    display: none; }

body {
  background-color: #FFFFFF; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; }

.FirstBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .FirstBody .SecondBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0 1em; }
    .FirstBody .SecondBody .BodyImage-container {
      width: 35rem;
      height: 35rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 1em; }
      .FirstBody .SecondBody .BodyImage-container .BodyImage {
        height: 100%;
        width: 100%; }
  .FirstBody article {
    width: 100%; }
    .FirstBody article .ThirdBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem; }
      .FirstBody article .ThirdBody .ThirdBodyTitle {
        font-size: 1.5rem; }
      .FirstBody article .ThirdBody .ThirdBodyInfo {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 2em; }

.SecondBodyInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 3em;
  border-radius: 0 1em;
  background-color: #2c7b9b50;
  text-align: justify; }
  .SecondBodyInfo h1 {
    font-size: 1.5rem;
    text-align: center; }
  .SecondBodyInfo .textoaubicar {
    text-align: justify;
    font-size: 0.9em; }
  .SecondBodyInfo .SecondBodyButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em; }
    .SecondBodyInfo .SecondBodyButtons .NomadButton {
      width: 7em;
      height: 2.5em;
      background-color: #2c7b9b;
      color: #FFFFFF;
      border: none;
      border-radius: 2px; }
      .SecondBodyInfo .SecondBodyButtons .NomadButton:hover {
        cursor: pointer;
        background-color: #78cfda;
        color: #000000;
        transition: 0.25s; }
    .SecondBodyInfo .SecondBodyButtons .EnterpriseButton {
      width: 7em;
      height: 2.5em;
      background-color: #78cfda;
      color: #000000;
      border: none;
      border-radius: 2px; }
      .SecondBodyInfo .SecondBodyButtons .EnterpriseButton:hover {
        cursor: pointer;
        background-color: #2c7b9b;
        color: #FFFFFF;
        transition: 0.25s; }

.Offert {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0 2.5em 0;
  padding: 2em 0.5em;
  gap: 0.75em;
  border-radius: 0 1em;
  background-color: #2c7b9b50; }
  .Offert .OffertInfo {
    color: #000000;
    font-size: 1.5rem;
    text-align: center; }
    .Offert .OffertInfo:hover {
      cursor: pointer;
      color: #FFFFFF;
      text-align: center;
      font-style: italic;
      transition: 0.3s; }
  .Offert .OffertSubInfo {
    color: #a09d9d;
    font-size: 1rem;
    text-align: center; }
  .Offert .textoaubicar {
    text-align: justify;
    font-size: 0.9em; }

.BodyImageLogo {
  width: 100%;
  height: 20%; }

.Culture-Container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border: none;
  border-radius: 999999em;
  background-color: #ccd7dbab; }
  .Culture-Container .SecondBodyTitle {
    font-size: 1.75rem; }
  .Culture-Container .textoaubicar {
    text-align: justify;
    font-size: 0.9em; }

.AboutUs {
  width: 100%; }
  .AboutUs .Charac-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10em 0;
    gap: 3em; }
    .AboutUs .Charac-Container .Charac-Img {
      width: 15em;
      height: 15em;
      border-radius: 10px; }
    .AboutUs .Charac-Container .Charac-Detail {
      width: 25em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0 1em;
      background-color: #2c7b9b50;
      padding: 3em;
      gap: 1.5em; }
      .AboutUs .Charac-Container .Charac-Detail .ThirdBodyTitle {
        font-size: 1.5rem; }
      .AboutUs .Charac-Container .Charac-Detail .textoaubicar {
        text-align: justify;
        font-size: 0.9em; }

.About-Icon-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5em 0;
  padding: 1.5em 1em 1.5em 1em;
  gap: 1.5em; }
  .About-Icon-Container div {
    border-radius: 2em;
    background-color: #ccd7dbab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.5em; }
    .About-Icon-Container div:hover {
      cursor: pointer;
      background-color: #2c7b9b50;
      transition: 0.3s; }
    .About-Icon-Container div .AboutIcon {
      width: 4em;
      height: 4em; }
    .About-Icon-Container div h5 {
      text-align: center; }

.SecondBodyHIW {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  gap: 1em; }
  .SecondBodyHIW .FirstBodyTitle {
    font-size: 2rem; }
  .SecondBodyHIW .textoaubicar {
    text-align: justify;
    font-size: 0.9em; }

.HIW-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
  gap: 2em; }
  .HIW-Container .HIW-ItemContainer {
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 1em;
    background-color: #2c7b9b50;
    padding: 3em;
    gap: 1em; }
    .HIW-Container .HIW-ItemContainer .HIW-ItemImage {
      width: 55%;
      height: 55%;
      border-radius: 10px;
      background-color: #ccd7dbab; }
    .HIW-Container .HIW-ItemContainer .ThirdBodyTitle {
      font-size: 1.2rem;
      text-align: center; }
    .HIW-Container .HIW-ItemContainer .textoaubicar {
      text-align: justify;
      font-size: 0.9em; }

.HIW-Container2 {
  width: 100%;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1em 0;
  background-image: url("	https://joshuaherreragroup.com/wp-content/uploads/2017/04/slider2.jpg");
  background-size: cover; }
  .HIW-Container2 .HIW-ItemContainer2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 1em;
    padding: 1em;
    border-radius: 10px;
    gap: 0.5em;
    background-color: #a09d9d60; }
    .HIW-Container2 .HIW-ItemContainer2 h2 {
      font-size: 1.3rem;
      text-align: center; }
    .HIW-Container2 .HIW-ItemContainer2 .textoaubicar {
      text-align: justify;
      font-size: 0.9em; }
    .HIW-Container2 .HIW-ItemContainer2 .NomadButton {
      width: 7em;
      height: 2.5em;
      background-color: #2c7b9b;
      color: #FFFFFF;
      border: none;
      border-radius: 2px; }
      .HIW-Container2 .HIW-ItemContainer2 .NomadButton:hover {
        cursor: pointer;
        background-color: #78cfda;
        color: #000000;
        transition: 0.25s; }

.Contact-BodyContainer {
  width: 80%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
  gap: 5em; }
  .Contact-BodyContainer .Contact-InfoContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c7b9b50;
    border-radius: 0 1em;
    padding: 1em;
    gap: 1em; }
    .Contact-BodyContainer .Contact-InfoContainer .Contact-InfoItem {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.75em;
      gap: 1.5em; }
      .Contact-BodyContainer .Contact-InfoContainer .Contact-InfoItem .Contact-InfoImage {
        width: 3em;
        height: 3em; }
      .Contact-BodyContainer .Contact-InfoContainer .Contact-InfoItem div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em; }
        .Contact-BodyContainer .Contact-InfoContainer .Contact-InfoItem div .ThirdBodyTitle {
          font-size: 1.2rem;
          text-align: center; }
        .Contact-BodyContainer .Contact-InfoContainer .Contact-InfoItem div .textoaubicar {
          text-align: center;
          font-size: 0.9em; }
  .Contact-BodyContainer .Contact-FormContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 1em;
    background-color: #ccd7dbab; }
    .Contact-BodyContainer .Contact-FormContainer .Contact-FormItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;
      gap: 1.5em; }
      .Contact-BodyContainer .Contact-FormContainer .Contact-FormItem .ThirdBodyTitle {
        font-size: 1.2rem; }
      .Contact-BodyContainer .Contact-FormContainer .Contact-FormItem .textoaubicar {
        text-align: justify;
        font-size: 0.9em; }
    .Contact-BodyContainer .Contact-FormContainer form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em; }
      .Contact-BodyContainer .Contact-FormContainer form .ContactFormField {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 2em;
        gap: 0.5em;
        border: none; }
        .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Inputs {
          width: 15em;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 1em; }
          .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Inputs span {
            font-size: 1em; }
          .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Inputs input {
            height: 2em;
            width: 10em;
            border: none;
            text-align: center; }
            .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Inputs input::placeholder {
              font-size: 0.8em; }
        .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Comment {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.5em; }
          .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Comment span {
            font-size: 1em; }
          .Contact-BodyContainer .Contact-FormContainer form .ContactFormField .Comment input {
            height: 15em;
            width: 20em;
            align-self: center;
            border: none; }

.Blog-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Blog-Container .Blog-ArticleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 10em;
    gap: 1em; }
    .Blog-Container .Blog-ArticleContainer figure {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0 1em;
      background-color: #2c7b9b50;
      padding: 3em;
      margin: 1em;
      gap: 0.3em;
      background-color: #2c7b9b50;
      padding: 1em;
      border-radius: 0 1em; }
      .Blog-Container .Blog-ArticleContainer figure img {
        width: 100%;
        border-radius: 10px; }
      .Blog-Container .Blog-ArticleContainer figure figcaption {
        font-size: 1rem;
        padding: 1em;
        text-align: center;
        font-weight: bold; }
      .Blog-Container .Blog-ArticleContainer figure .textoaubicar {
        text-align: justify;
        font-size: 0.9em; }

footer {
  width: 100%;
  height: 10vh; }

.FooterBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #a09d9d; }

@media screen and (max-width: 768px) {
  body {
    background-color: #FFFFFF; }
  header {
    width: 100%;
    height: 100%; }
    header .Head {
      width: 100%;
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #2c7b9b; }
      header .Head p {
        text-align: center;
        font-size: 0.75em; }
    header #Navbar {
      padding: 0 2em; }
      header #Navbar a {
        width: 8em;
        height: 3em;
        text-decoration: none; }
        header #Navbar a #NavLogo {
          height: 100%;
          width: 100%; }
      header #Navbar .MenuOptions {
        display: none; }
      header #Navbar .MenuOptionsResp {
        display: none; }
      header #Navbar input {
        display: none; }
        header #Navbar input:checked ~ .MenuOptionsResp {
          display: block; }
      header #Navbar label {
        width: 30px;
        height: 30px;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #000000;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none; }
        header #Navbar label:hover {
          background-color: #a09d9d; }
      header #Navbar input:checked ~ label {
        background-color: #2c7b9b50; }
      header #Navbar .MenuOptionsResp {
        width: 200px;
        margin-top: 100px;
        padding: 0; }
      header #Navbar li {
        display: block;
        background-color: #2c7b9b50;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid #a09d9d; }
        header #Navbar li:hover {
          filter: brightness(110%); }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em; }
  .FirstBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    gap: 3em; }
    .FirstBody .SecondBody {
      margin: 0.5em; }
      .FirstBody .SecondBody .SbIndex {
        width: 100%;
        background-image: url("../assets/img/Cabecera-de-la-web-principal.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16em;
        padding: 2em;
        gap: 1em; }
        .FirstBody .SecondBody .SbIndex h1 {
          font-size: 1.25rem; }
      .FirstBody .SecondBody .BodyImage-container {
        display: none; }
    .FirstBody article {
      width: 100%; }
      .FirstBody article .ThirdBody {
        margin: 1em; }
        .FirstBody article .ThirdBody .ThirdBodyTitle {
          font-size: 1.5rem; }
        .FirstBody article .ThirdBody .ThirdBodyInfo {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 1em;
          border-radius: 1em;
          gap: 0.5em;
          background-color: #ccd7dbab; }
  .Offert {
    width: 100%;
    margin: 0.75em 0;
    padding: 1em 0.5em;
    border-bottom: 1px solid #272727a2; }
    .Offert .OffertInfo {
      font-size: 1.25rem; }
    .Offert .OffertSubInfo {
      font-size: 1rem;
      font-style: italic;
      color: #a09d9d; }
    .Offert .textoaubicar {
      display: none; }
  .SbAcercaDe {
    width: 100%;
    background-image: url("../assets/img/Logo-de-Joshua-Herrera-Group-HD.png");
    background-repeat: no-repeat;
    background-size: 16em;
    background-position: center;
    padding: 2em;
    gap: 1em; }
    .SbAcercaDe h1 {
      font-size: 1.25rem; }
  .Culture-Container {
    width: 90%;
    padding: 1em;
    gap: 1em;
    border: none;
    border-radius: 0 1em;
    background-color: #ccd7dbab; }
    .Culture-Container .SecondBodyTitle {
      font-size: 1.25rem; }
  .AboutUs {
    width: 100%;
    margin: 1em 0; }
    .AboutUs .Charac-Container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3em 0;
      gap: 1em; }
      .AboutUs .Charac-Container .Charac-Img {
        width: 60%;
        height: 60%; }
      .AboutUs .Charac-Container .Charac-Detail {
        width: 100%;
        margin: 0 1em;
        padding: 1.5em; }
  .About-Icon-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 1.5em 0 1.5em 0; }
    .About-Icon-Container div {
      padding: 1em; }
      .About-Icon-Container div .AboutIcon {
        width: 3.5em;
        height: 3.5em; }
  .FooterBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a09d9d;
    background-color: #000000; }
    .FooterBody p {
      text-align: center;
      display: block;
      align-self: center; } }

@media screen and (max-width: 320px) {
  body {
    background-color: #FFFFFF; }
  header {
    height: 60%; }
    header .Head {
      display: none; }
    header #Navbar {
      background-color: #2c7b9b;
      padding: 0 2em; }
  .FirstBody article .ThirdBody {
    gap: 2em; }
    .FirstBody article .ThirdBody .ThirdBodyTitle {
      font-size: 1.25rem; }
    .FirstBody article .ThirdBody .ThirdBodyInfo .Offert .OffertInfo {
      font-size: 1rem; }
    .FirstBody article .ThirdBody .ThirdBodyInfo .Offert .OffertSubInfo {
      display: none; }
  .AboutUs .Charac-Container {
    margin: 1em; }
    .AboutUs .Charac-Container .Charac-Img {
      width: 100%;
      height: 100%; }
  .FooterBody p {
    padding: 1em; } }
