@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400;1,500&display=swap');
/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* 
    font-family: 'Montserrat', sans-serif;
     */
}

@media screen and (max-width: 768px) {
    body {
        background-color: #FFFFFF;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 1em;
    }
    a {
        text-decoration: none;
        color: black;
    }
    /* header y nav */
    header {
        height: 10%;
        width: 100%;
        
        /* position: fixed; */
    }
    header p {
        font-size: 10px;
    }
    article {
        width: 100%;
    }
    .Head {
        width: 100%;
        height: 1rem;
        background-color: #2c7b9b;
    }
    #Navbar {
        width: 100%;
        height: 50px;
    

        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #272727a2 ;
        padding: 0 1em;
        /* position: fixed; */
        background-color: #FFFFFF;
    }
    .item1 {
        grid-column: 2/3;
        grid-row: 1/2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 2em;
        width: 8em;
    }
    #NavLogo{
        height: 100%;
        width: 100%;
    }
    .MenuIcon {
        width: 2em;
        height: 2em;

        grid-column: 4;
        grid-row: 1/2;
        

    }
    .MenuOptions {
        display: none;
    }
    /* index */

    .FirstBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 3em;

        margin: 0.5em 0.5em;
    }
    .SecondBody {
        margin: 0.5em;
    }
    .SecondBodyInfo{
        background-image: url("../assets/img/Cabecera-de-la-web-principal.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        
        display: grid;
        grid-template-rows: auto;

        gap: 1em;
    }
    .SecondBodyButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 2em;

        margin-bottom: 0.1em;
    }
    .NomadButton {
        background-color: #2c7b9b;
        color: #FFFFFF;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .NomadButton:hover {
        cursor: pointer;

        background-color: #78cfda;
        color: #000000;

        transition: 0.25s;
    }
    .EnterpriseButton {
        background-color: #78cfda;
        color: #000000;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .EnterpriseButton:hover {
        cursor: pointer;
        background-color: #2c7b9b;
        color: #FFFFFF;

        transition: 0.25s;
    }
    .BodyImage-container {
        display: none;
    }
    .ThirdBody {
        margin: 0.5em;

    }
    .ThirdBodyTitle {
        text-align: center;
        padding-bottom: 0.3em;
    }
    .ThirdBodyInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 0.5em;

        background-color: #2c7b9b50;
        padding: 0.35em;

        border-radius: 1em;
        
    }
    .Offert {
        border-bottom: 1px solid #000000;
        width: 100%;
    }
    .Offert .OffertInfo:hover {
        cursor: pointer;
        color: #FFFFFF;
        font-weight:normal;
        font-style: italic;

        transition: 0.3s;

    }
    .Offert .OffertSubInfo {
        color: #a09d9d;
        font-weight:normal;
        font-style: italic;
    }
    .Offert p {
        display: none;
    }
    .FooterBody {
        width: 100%;
        height: 3em;
    
        background-color: #000000;
        color:#a09d9d;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        text-align: center;
    }  
}
@media screen and (max-width: 320px) {
    body {
        background-color: #FFFFFF;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 1em;
    }
    a {
        text-decoration: none;
        color: black;
    }
    /* header y nav */
    header {
        height: 10%;
        width: 100%;
        
        /* position: fixed; */
    }
    header p {
        font-size: 10px;
    }
    article {
        width: 100%;
    }
    .Head {
        width: 100%;
        height: 1rem;
        background-color: #2c7b9b;
        display: none;
    }
    #Navbar {
        width: 100%;
        height: 50px;
    
        display: grid;
        grid-template-columns: repeat(3, 30%);

        border-bottom: 1px solid #272727a2 ;
        padding: 0 1em;
        background-color: #2c7b9b;
    }
    .item1 {
        grid-column: 2;
        grid-row: 1/2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 6em;
        height: 2em;
    }
    #NavLogo{
        height: 100%;
        width: 100%;
    }
    .MenuIcon {
        width: 2em;
        height: 2em;
    }
    .MenuOptions {
        display: none;
    }
    /* index */

    .FirstBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 3em;

        margin: 0.5em 0.5em;
    }
    .SecondBody {
        margin: 0.5em;
    }
    .SecondBodyInfo{
        background-image: url("../assets/img/Cabecera-de-la-web-principal.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        
        display: grid;
        grid-template-rows: auto;

        gap: 1em;
    }
    .SecondBodyButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 2em;
    }
    .NomadButton {
        background-color: #2c7b9b;
        color: #FFFFFF;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .EnterpriseButton {
        background-color: #78cfda;
        color: #000000;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .BodyImage-container {
        display: none;
    }
    .ThirdBody {
        margin: 0.5em;

    }
    .ThirdBodyTitle {
        text-align: center;
        padding-bottom: 0.3em;
    }
    .ThirdBodyInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 0.5em;
        
    }
    .Offert {
        border-bottom: 1px solid #000000;
        width: 100%;
    }
    .Offert .OffertSubInfo {
        display: none;
    }
    .Offert p {
        display: none;
    }
    .FooterBody {
        width: 100%;
        height: 3em;
    
        background-color: #000000;
        color:#a09d9d;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
}
@media screen and (min-width:768px) {
    
    body {
        background-color: #FFFFFF;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 1em;
    }
    a {
        text-decoration: none;
        color: black;
    }
    header {
        height: 20%;
        width: 100%;
    
        /* position: fixed; */
    }
    article {
        width: 100%;
    }
    
    .Head {
        width: 100%;
        height: 3rem;
        background-color: #2c7b9b;
    }
    #Navbar {
        width: 100%;
        height: 100px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #272727a2 ;
    
        padding: 0 5em 0 5em;
    
        /* position: fixed; */
    
        background-color: #FFFFFF;
    }
    #NavLogo{
        height: 50px;
        widows: 80px;
    }
    .MenuIcon {
        display: none;
    }
    .MenuOptions {
        width: 50%;
        text-decoration: none;
        list-style-type:none;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: black;
    
    }
    .FirstBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .FirstBodyTitle{
        font-size: 2rem
    }
    .textoaubicar {
        text-align: justify;
        font-size: 0.9em;
    }
    
    .SecondBody {
        width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        gap: 3em;
    
        padding: 0 1em 0 1em;
    }
    .SecondBodyInfo {
        width: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        text-align: justify;
    
        gap: 1em;
    
        padding: 5em;

        background-color: #2c7b9b50;

        border-radius: 0 1em 0 1em;
    }
    .SecondBodyTitle {
        font-size: 1.75rem;
    }
    .SecondBodyButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 2em;
    }
    .NomadButton {
        background-color: #2c7b9b;
        color: #FFFFFF;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .NomadButton:hover {
        cursor: pointer;

        background-color: #78cfda;
        color: #000000;

        transition: 0.25s;
    }
    .EnterpriseButton {
        background-color: #78cfda;
        color: #000000;

        border: none;
        border-radius: 2px;

        width: 7em;
        height: 2.5em;
    }
    .EnterpriseButton:hover {
        cursor: pointer;
        background-color: #2c7b9b;
        color: #FFFFFF;

        transition: 0.25s;
    }
    .BodyImage-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        width: 35rem;
        height: 35rem;
    
        margin-right: 1em;
    }
    .BodyImage{ 
        height: 100%;
        width: 100%;
    }
    .BodyImageLogo {
        width: 40rem;
        height: 20%;
    
    }
    .ThirdBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 4rem;
    }
    .ThirdBodyTitle {
        font-size: 1.5rem;
    }
    .ThirdBodyInfo {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    
        gap: 2em;
    }
    /* index */
    .Offert {
        width: 30%;
        margin-top: 2em;
        margin-bottom: 2.5em;

        background-color: #2c7b9b50;

        padding: 0.5em;

        border-radius: 0 1em 0 1em;
    }
    .OffertInfo {
        color: #000000;
        font-size: 1.5rem;
    }
    .Offert .OffertInfo:hover {
        cursor: pointer;
        color: #FFFFFF;
        font-weight:normal;
        font-style: italic;

        transition: 0.3s;

    }
    .OffertSubInfo {
        color: #a09d9d;
        font-size: 1rem;
    }
    
    .FooterBody{
        width: 100%;
        height: 3em;
    
        background-color: #000000;
        color:#a09d9d;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    /* Acerca de */
    .Culture-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 70%;
    
        background-color:#ccd7dbab ;
    
        padding: 3em;
    
        border: none;
        border-radius: 9999999em;
    }
    .AboutIcon {
        width: 5em;
        height: 5em;
    }
    .Charac-Container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        gap: 3em;
    
        margin-top: 10em;
        margin-bottom: 10em;
    }
    .Charac-Img {
        width: 17em;
        height: 17em;
    }
    .Charac-Detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 30em;
        gap: 1.5em;
    }
    .About-Icon-Container {
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    
        gap: 3em;
    
        width: 100%;
    
        margin: 2.5em 0 2.5em 0;
    
        padding: 1.5em 0 1.5em 0;
    }
    
    /* Como Funciona*/
    .SecondBodyHIW {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 1em;
    
        margin: 1em;
    }
    
    .HIW-Container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    
        gap: 2em;
    
        margin: 2em;
    }
    .HIW-ItemContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 1em;
    
        width: 30rem;
        height: 30rem;
    
        border-radius: 0em 1.5em 0em 1.5em;
    
        background-color: #a09d9d50;
        padding: 0.7em;
    }
    
    .HIW-ItemImage {
        background-color: #2c7b9b;
        padding: 0.5em;
    
        border-radius: 1em;
    
        width: 50%;
        height: 50%;
    }
    
    .HIW-Container2 {
        width: 100%;
        height: 15em;
    
        display: flex;
        flex-direction: column;
    
        background-image: url(https://joshuaherreragroup.com/wp-content/uploads/2017/04/slider2.jpg);
        background-size: cover;
    
        margin: 1em 0;
    }
    .HIW-ItemContainer2 {
        width: 30%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 1.5em 1em;
    
        padding: 1em;
    
        background-color: #a09d9d95;
        
    }
    
    /* Contacto */
    
    .Contact-BodyContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        gap: 2em;
    
        margin: 2em;
    }
    .Contact-InfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: #2c7b9b50;
    
        border-radius: 10em;
    }
    .Contact-InfoItem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        gap: 1.5em;
    
        margin: 3em;
    }
    
    .Contact-InfoItem div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 1em;
    }
    .Contact-InfoImage {
        width: 3em;
        height: 3em;
    }
    .Contact-FormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: #a09d9d50;
    
        border-radius: 10em;
    }
    .Contact-FormItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 1.5em;
    
        margin: 3em;
    }
    .ContactFormField {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        gap: 0.5em;
        width: 100%;
    
        border: none;
    
        padding: 0em 2em;
        
    }
    .Contact-FormContainer form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin:0 3em;
    
        padding: 0 0 3em 0;
    }
    .Contact-FormContainer form legend {
        margin: 1em;
    }
    .Contact-FormContainer form .Inputs {
        height: 2em;
        width: 15em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .Contact-FormContainer form .Inputs input {
        height: 2em;
    }
    .Contact-FormContainer form input {
        border: none;
    }
    .Contact-FormContainer form div {
        height: 2em;
        width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Comment{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        width: 50em;
    
        gap: 2em;
    }
    
    .Comment input {
        height: 25em;
        width: 30em;
    }
    
    /* Blog */
    .ContactTitle {
        margin: 1em;
    }
    .Blog-Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Blog-ArticleContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        /* width: 100%; */
        gap: 1em;
    
        margin: 1em;
    }
    .Blog-ArticleContainer figure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 30%;
        gap: 0.3em;
    
        margin: 1em;
        
        background-color:#2c7b9b50;
        
    }
    .Blog-ArticleContainer figure img {
        width: 100%;
    
        border-radius: 1.5em;
        padding: 1em;
    }
    
    .Blog-ArticleContainer figure p {
        padding: 1em;
    } 
    .Blog-ArticleContainer figure figcaption {
        padding: 1em;
    
        font-weight: bold;
        text-align: justify;
    } 
}
