@media screen and (max-width: 320px) {
    body {
        background-color: $white;
    }
    .header {
        padding: 1em 2em;
        background-color: white;

        a {
        width: 150px;
        height: 50px;
        }
        .navigation {
            width: 30px;
            .hamburger, .toggle-menu {
                display: block;
                justify-self: flex-end
            }

            .menu {
                @include flex(column, start, center);
                position: fixed;
                top: 0; 
                right: -300px;
                background-color: $blue;
                    width: 200px; 
                height: 100%;
                padding-top: 65px;

                li {
                    width: 100%;
                    a {
                        padding: 30px;
                        font-size: 15px;
                        box-shadow: 0 1px 0 $sweetwhite inset;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .FirstBody {
        article {
            .ThirdBody {
                gap: 2em;
                .ThirdBodyTitle {
                    @include titles(1.25rem)
                }
                .ThirdBodyInfo {
                    .Offert {
                        .OffertInfo {
                            @include titles(1rem)
                        }
                        .OffertSubInfo {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .AboutUs {
        .Charac-Container {
            margin: 1em;
            .Charac-Img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .HIW-Container {
        .HIW-ItemContainer {
            width: 95%;
        }
    }

    .HIW-Container2{
        align-items: center;
        .HIW-ItemContainer2 {
            width: 90%;
            height: 90%;
        }
    }
    
    .Blog-Container {
        .Blog-ArticleContainer {
            figure {
                figcaption {
                    @include titles(1rem);
                    padding: 0.3em;
                }
            }
        }
    }

    .Contact-BodyContainer {
        .Contact-InfoContainer {
            .Contact-InfoItem {
                gap: 0.5em;
                .Contact-InfoImage {
                    width: 50px;
                    height: 50px;
                }
                div {
                    .ThirdBodyTitle {
                        @include titles(0.9rem);
                        text-align: center;
                    }
                    .textoaubicar {
                        @include textos(center, 0.75em)
                    }
                }
            }
        }
    }

    .FooterBody {
        p {
            padding: 1em;
        }
    }
}