$typo-principal: 'Montserrat', sans-serif;

// colores
$white: #ffffff;
$sweetwhite: #ffffff79;
$blue: #2c7b9b;
$sweetblue: #78cfda;
$grey: #a09d9d;
$black: #000000;
$bg-boxes: #2c7b9b50;
$bg-secondboxes: #ccd7dbab;

// estandares
$borderbg: 0 1em;
$paddingbg: 3em;
$borderbgpink: 2em;

// Burger Menu
$color-secondary-grey: #BDC3C7;

$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;